body {
  background-color: rgb(3, 24, 37);
  
  margin: 0;
  font-family: 'Questrial', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  
  
}
div.introM{
  position:absolute;
  top:300;
  
  background-color: rgb(3, 24, 37);
  
  
  overflow-x:hidden;
  height:650rem;
  width:100%;
 
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1.intro{
  color:white;
  padding:1rem;
}
div.introDiv{
  position:absolute;
  left:50%;
  top: 20rem;
  background-color:transparent;
 
}
img.logos{
  width:2rem;
}
button.logos{
  background-color: transparent;
  border-color:white;
  border-radius:5rem;
}
button.logos:hover{
  cursor:pointer;
  background-image: linear-gradient(to right, #870000 0%, #190A05  51%, #870000  100%);
  border-radius:4rem;
  
  
  
}div.home{
  color:white;
}p.desc1{
  color:white;
}
img.code_Logo{
 
  height:10rem;

}
h1.intro2{
  color:white;
  border:0.05rem solid white;
  padding:1rem;
}
div.introDiv2{
  position:absolute;
  left:65rem;
  top: 1rem;
  background-color:transparent;
  
}img.down_arrow{
  width:5rem;
}
div.down_arrow{
  position:absolute;
  top:8%;
  left:50%;
}
ul.links{
  list-style: none;
  color:white;
  
}
ul>li{
  display:inline-block;
  padding:0rem;
}
div.links{
  position: absolute;
  right: 4rem;
}img.github{
  width:3rem;
}
img.linked{
  width:5.5rem;
  height: auto;
}
div.logo1{
  position: absolute;
  left:18rem;
  top:14rem;
}
div.logo2{
  position: absolute;
  left:10rem;
  top:13rem;
}
div.logo3{
  position: absolute;
  top:14.5rem;
  left:30rem;
  
}
img.java{
  
  width:10rem;
}
img.jsCode{
  width:12rem;
}
img.html{
  width:8rem;
}
div.burger{
  position:absolute;
  left:100rem;
  top:5rem;
  width:20rem;
  color:white;
}
img.burger{
  width:5rem;
  filter: invert(100%);
}
div.content{
  display: flex;
  justify-content: center;
}div.navTop{
  position: absolute;
  left:70%;
  top:1rem;
  color:white;
  padding:1rem;
  
 
}
ul.navTop{
  padding:1rem;
}
ul.navTop>li{
  padding:1rem;
}
div.projects{
 
  position: absolute;
  width:100vw;
  top:10%;
  height:30%;

  background-color: rgb(3, 24, 37);
 
  
}
div.about{
  top:53.7%;
  position: absolute;
  width:100%;
  height:50rem;

 


}
div.resume{
  
  top:40%;
  position: absolute;
  width:100vw;
  height:150vh;
  color:white;    
 

}

div.resumeTitle{
  position: absolute;
  height: 100px;
  width:400px;
  padding-bottom:20px;
  left:10%;
  top:5%;
  
  border-radius: 20px;
  color:black;
}
h1.resumeTitle{
  font-size: 80px;
  text-decoration: underline;
  color:white;
  position: relative;

}
div.resumeContainer{
  position: relative;
  top:20%;
  width:100%;
  height:100%;
  overflow: hidden;
 
}
div.contact{
  top:63%;
  position: absolute;
  width:94%;
  height:50rem;
  color:white;
  left:3%;
  border-radius: 10px;
  box-shadow: 5px 25px 100px rgba(0,0,0,0.5);
}

div.project1{
  position: absolute;
  padding:20px;
  top:0%;
  width:100vw;
  height: 100vh;
  color:white;
  
}
div.info_p1{
  position: relative;
  background-color: transparent;
  width:400px;
  height:300px;
  left:18%;
  top:35%;
  z-index: 3;
  background-color: rgb(3, 24, 37);
  border-radius: 20px;
  padding:10px;
  box-shadow: 5px 55px 100px black;
  border: 1px solid crimson;

}

div.p1_container{
  position: relative;
  left:-5%;
  top:-20%;
  background-color:transparent;
  padding-top:5%;
  width: 105%;
  height:100%;
  border-radius: 20px;
 

}
div.img_p1_1{
  position: relative;
  left:30%;
  padding-top:60px;
  background-color: transparent;
  width:1000px;
  height:500px;
  border-radius: 20px;
  opacity: 50%;
}
div.project2{
  color:white;
  position: absolute;
  padding:20px;
  top:30%;
  width:100vw;
  height: 100vh;
  border-radius:10%;
  background: transparent;

}
div.info_p2{
  position: relative;
  padding:20px;
  background-color: rgb(3, 24, 37);
  width:400px;
  height:300px;
  left:18%;
  top:5%;
  z-index: 1;
  color:white;
  border:1px solid crimson;
  border-radius: 20px;
  box-shadow: 5px 55px 100px black;
  padding:10px;

}
div.p2_container{
  position: relative;
  left:-5%;
  top:-32%;
  background-color: transparent;
  width: 105%;
  height:51%;

}
div.img_p2_2{
  position: relative;
  left:10%;
  
}
div.project3{
  
  position: absolute;
  padding:20px;
  top:50%;
  width:100vw;
  height: 100vh;
  left:5%;
  border-radius:10%;
  background: transparent;
  color:white;

}
div.info_p3{
  position: relative;
  background-color: rgb(3, 24, 37);
  width:400px;
  height:300px;
  top:-10%;
  left:13%;
  z-index: 1;
  min-width: 200px;
  border:1px solid crimson;
  border-radius: 20px;
  box-shadow: 5px 55px 100px black;
  padding:10px;
}
div.p3_container{
  position: relative;
  left:-15%;
  width: 110%;
  top:-55%;
  background-color: transparent;
  height:50%;

}
div.img_p3_3{
  position: relative;
  left:30%;
  width: 50%;
  
 

}
div.project4{
  
  position: absolute;
  padding:20px;
  top:80%;
  width:100vw;
  height: 100vh;
  left:5%;
  border-radius:10%;
  background: transparent;
  color:white;

}
div.info_p4{
  position: relative;
  background-color: rgb(3, 24, 37);
  width:400px;
  height:300px;
  top:-45%;
  left:13%;
  z-index: 1;
  min-width: 200px;
  border:1px solid crimson;
  border-radius: 20px;
  box-shadow: 5px 55px 100px black;
  padding:10px;
}
div.p4_container{
  position: relative;
  left:-15%;
  width: 110%;
  top:-90%;
  background-color: rgb(3, 24, 37);
  height:75%;

}
div.img_p4_4{
  position: relative;
  left:45%;
  width: 400px;
  

}

button.navTop{
  background-color: transparent;
  color:white;
  border-top:0px;
  border-bottom:0px;
  border-right:0px;
  border-left: 0px;
}
button.navTop:hover{
  cursor:pointer;
}
ul.navTop>li:hover{
  cursor:pointer;
}
div.down_arrow:hover{
  cursor:pointer;
}
div.utube{
 background-color: transparent;
 height:70%;
}
ul.search>li{
  padding:10px;

}


button.projectLinks1{
  border-radius: 20px;
  background-color: transparent;
  border-bottom:2px solid red;
  border-top:transparent;
  border-left:transparent;
  border-right:transparent;
  color:white;
  padding:10px;
}
button.projectLinks2{
  border-radius: 20px;
  background-color: transparent;
  border-bottom:2px solid red;
  border-top:transparent;
  border-left:transparent;
  border-right:transparent;
  color:black;
  padding:10px;
}
button.projectLinks1:hover{
 cursor: pointer;
 background-color:white;
 color:black;

}
button.projectLinks2:hover{
  cursor: pointer;
  background-color: black;
  color:white;
 
 }
h1.projectHead{
  color:white;
  font-size:xx-large;
}
div.prohead{
  position: relative;
 background-color: black;
 height:50px;
 border-bottom: 2px solid white;
 border-top:  2px solid white;

}
div.project_title_1{
  
  position: relative;
  top:10%;
  
  width:20%;
  height:10%;
  left:10%;
  color:black;
  border-radius: 10px;
}
h1.project_title_1{
  font-size:80px;
  color:white;
  text-decoration: underline;
  
}
div.about-info{
  position:absolute;
  left:15%;
  top:35%;
  width:600px;
  height:350px;
  border-radius: 10px;
  padding-top:20px;
  padding-right:20px;
  padding-left:20px;

  color:black;
}
p.about-info{
  color:white;
  font-size: 25px;
}
div.about-title{
  position: relative;
  top:0%;
  right:30%;
}
h1.about-title{
  font-size:80px;
  color:white;
  text-decoration: underline;
}
div.education{
  position:relative;
  left:27%;
  color:white;
  background: #0f0c29; 
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
  width:800px;
  height:250px;
  padding-left:20px;
  padding-right:20px;
  border-radius: 10px;
}
div.skills{
  position:relative;
  left:27%;
  top:2.5%;
  color:white;
  background: #0f0c29; 
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
  width:800px;
  height:250px;
  padding-left:20px;
  padding-right:20px;
  border-radius: 10px;
}
div.languages{
  position:relative;
  left:27%;
  top:5%;
  color:white;
  background: #0f0c29; 
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
  width:800px;
  height:250px;
  padding-left:20px;
  padding-right:20px;
  border-radius: 10px;
  
}
li{
  text-align: left;
}


img.notes-image{
  width:900px;
  height: relative;
  border-radius: 10px;
  border:2px solid white;
  

}
img.weather-image{
  width:400px;
  height: relative;
  border-radius: 10px;
  

}
img.portfolio1{
  position: relative;
  top:50px;
  width:900px;
  border-radius: 10px;
  border:1px solid white;
  opacity: 60%;

}
img.tictactoe{
  position: relative;
  right:40%;
  opacity: 60%;
}

div.contact-container{
  position: relative;
  top:20%;
}
.resume-image{
  border-radius: 30px;
 
}
iframe.resumePDF{
  height:700px;
  width:600px;
}
@media(max-width:500px){


  div.introDiv{
  position:absolute;
  left:155%;
  top: 2rem;
 
  
 
}
iframe.resumePDF{
  height:400px;
  width:300px;
}

div.links{
  position: absolute;
  right: 5px;
  background-color: transparent;
  width:200px;
}




div.project1{
  position: absolute;
  padding:20px;
  top:0%;
  width:100vw;
  height: 100vh;
  color:white;
  
}
div.info_p1{
  position: relative;
  background-color: transparent;
  width:35%;
  left:0%;
  top:15%;
  z-index: 2;
  font-size: x-small;

}
div.p1_container{
  position: relative;
  left:32%;
  top:-10%;
  background-color: transparent;
  padding-top:5%;
  width: 50%;
  height:40%;
  border-radius: 20px;
 

}
div.img_p1_1{
  position: relative;
  left:15%;
}
div.project2{
  position: absolute;
  padding:20px;
  top:40%;
  width:100vw;
  height: 100vh;
  border-radius:10%;
  background: transparent;

}
div.info_p2{
  position: relative;
  background-color: transparent;
  width:20%;
  left:50%;
  top:0%;
  z-index: 1;
  color:white;
  font-size: x-small;

}
div.p2_container{
  position: relative;
  left:-5%;
  top:-30%;
  width: 105%;
  height:35%;

}
div.img_p2_2{
  position: relative;
  left:-30%;

  
}

div.project3{
  
  position: absolute;
  padding:20px;
  top:70%;
  width:100vw;
  height: 100vh;
  left:5%;
  border-radius:10%;
  background: transparent;
  color:white;

}
div.info_p3{
  position: relative;
  background-color: transparent;
  width:20%;
  top:-25%;
  left:-5%;
  z-index: 1;
  font-size: x-small;
}
div.p3_containe{
  position: relative;
  left:65%;
  width: 110%;
  top:-50%;
  background-color: transparent;
  height:50%;

}
div.img_p3_3{
  position: relative;
  left:40%;
  width: 50%;
  
 

}
img.weather-image{
  width:250px;
  height: relative;
  border-radius: 10px;
  

}
img.notes-image{
  width:250px;
  height: relative;
  border-radius: 10px;
  border:1px solid white;

}
img.portfolio1{
  position: absolute;
  width:2000px;
  border-radius: 10px;
  border:1px solid white;

}

div.about-info{
  position: relative;
  left:10%;
  width:300px;
  font-size:x-small;
  padding-top:0px;

}
div.skills{
  width:300px;
}
div.languages{
  width:300px;
}
div.education{
  width:300px;
}
  



}
@media (max-width:700px) and (min-width:500px){
  div.project1{
    position: absolute;
    padding:20px;
    top:0%;
    width:100vw;
    height: 100vh;
    color:white;
    
  }
  div.info_p1{
    position: relative;
    background-color: transparent;
    width:35%;
    left:0%;
    top:15%;
    z-index: 2;
    font-size: x-small;
  
  }
  div.p1_container{
    position: relative;
  
    top:-15%;
    padding-top:5%;
  
    border-radius: 20px;
   
  
  }
  div.img_p1_1{
    position: relative;
    left:15%;
  }
  div.project2{
    color:white;
    position: absolute;
    padding:20px;
    top:35%;
    width:100vw;
    height: 100vh;
    border-radius:10%;
    background: transparent;
  
  }
  div.info_p2{
    position: relative;
    background-color: transparent;
    width:20%;
    left:50%;
    top:0%;
    z-index: 1;
    color:white;
    font-size: x-small;
  
  }
  div.p2_container{
    position: relative;
    left:-5%;
    top:-30%;
   
    width: 105%;
    height:35%;
  
  }
  div.img_p2_2{
    position: relative;
    left:-30%;
  
    
  }
  
  div.project3{
    
    position: absolute;
    padding:20px;
    top:80%;
    width:100vw;
    height: 100vh;
    left:5%;
    border-radius:10%;
    background: transparent;
    color:white;
  
  }
  div.info_p3{
    position: relative;
    background-color: transparent;
    width:20%;
    top:-25%;
    left:-5%;
    z-index: 1;
    font-size: x-small;
  }
  div.p3_containe{
    position: relative;
    top:-50%;
  }
  div.img_p3_3{
    position: relative;
    top:10%;
    left:25%;
    
  }
  img.weather-image{
    width:250px;
    height: relative;
    border-radius: 10px;
    
  
  }
  img.notes-image{
    width:250px;
    height: relative;
    border-radius: 10px;
    border:1px solid white;
  
  }
  img.portfolio1{
    position: absolute;
    width:200px;
    border-radius: 10px;
    border:1px solid white;
  
  }
  
  div.about-info{
    position: relative;
    left:10%;
    width:300px;
    font-size:x-small;
    padding-top:0px;
  
  }
  div.about-info{
    position: relative;
    left:10%;
      width:300px;
      font-size:x-small;
      padding-top:0px;
    
    }

  div.introDiv{
    position:absolute;
    left:125%;
    top: 2rem;
   
    
   
  }
  iframe.resumePDF{
    height:500px;
    width:400px;
  }
  div.about-info{
    position: relative;
    left:10%;
      width:300px;
      font-size:x-small;
      padding-top:0px;
    
    }
  div.about-info{

    width:300px;
  
  }
  div.skills{
    position: relative;
    left:15%;
    width:300px;
  }
  div.languages{
    left:15%;
    width:300px;
  }
  div.education{
    left:15%;
    width:300px;
  }
}
@media (max-width:1000px) and (min-width:700px){


  div.skills{
    width:500px;
  }
  div.languages{
    width:500px;
  }
  div.education{
    width:500px;
  }
  div.about-info{
    position: relative;
    left:10%;
      width:500px;
      font-size:small;
      padding-top:0px;
    
    }
    iframe.resumePDF{
      position: relative;
      right:15%;
      height:600px;
      width:500px;
    }
    div.resumeContainer{
      position:absolute;
      width:1000px;
      
    
      
    }
    div.project1{
      position: absolute;
      padding:20px;
      width:100vw;
      height: 100vh;
      color:white;
      top:5%;
      
    }
    div.info_p1{
      position: relative;
      width:35%;
      left:0%;
      top:10%;
      font-size: x-small;
    
    }
    div.p1_container{
      position: relative;
      top:-15%;
      padding-top:5%;
      height:40%;
      border-radius: 20px;
    }
    div.img_p1_1{
      position: relative;
      left:15%;
    }
    div.project2{
      color:white;
      position: absolute;
      padding:20px;
      top:40%;
      width:100vw;
      height: 100vh;
      border-radius:10%;
      background: transparent;
    
    }
    div.info_p2{
      position: relative;
      background-color: transparent;
      width:20%;
      left:50%;
      top:0%;
      z-index: 1;
      color:white;
      font-size: x-small;
    
    }
    div.p2_container{
      position: relative;
      left:-5%;
      top:-30%;
      width: 105%;
      height:35%;
    
    }
    div.img_p2_2{
      position: relative;
      left:-30%;
    
      
    }
    
    div.project3{
      
      position: absolute;
      padding:20px;
      top:90%;
      width:100vw;
      height: 100vh;
      left:5%;
      border-radius:10%;
      background: transparent;
      color:white;
    
    }
    div.info_p3{
      position: relative;
  
      width:20%;
      top:-40%;
      left:-5%;
      z-index: 1;
      font-size: x-small;
    }
    div.p3_container{
      position: relative;
      width: 110%;
      top:-70%;
      height:50%;
    
    }
    div.img_p3_3{
      position: relative;
      left:30%;
      width: 50%;
      top:20%;
      
     
    
    }
    img.weather-image{
      width:250px;
      height: relative;
      border-radius: 10px;
      
    
    }
    img.notes-image{
      width:250px;
      height: relative;
      border-radius: 10px;
      border:1px solid white;
    
    }
    img.portfolio1{
      position: absolute;
      width:200px;
      border-radius: 10px;
      border:1px solid white;
    
    }
    
    div.about-info{
      position: relative;
      left:10%;
      width:300px;
      font-size:x-small;
      padding-top:0px;
    
    }
}

@media (max-width:1500px) and (min-width:1000px){


  img.notes-image{
    width:200px;;
  }
  img.portfolio1{
    width:200px;;
  }
  div.skills{
    width:500px;
  }
  div.languages{
    width:500px;
  }
  div.education{
    width:500px;
  }
  div.about-info{
    position: relative;
    left:10%;
      width:700px;
      font-size:small;
      padding-top:0px;
    
    }

  div.img_p1{

     position: relative;
     top:-30%;

     
    
    
  }
  img.notes-image{
    width:30vw;
  }

}




