body {
  background-color: rgb(3, 24, 37);
  
  margin: 0;
  font-family: 'Questrial', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  
  
}
a.projLink {
  text-decoration: none;
  color: black;
}
a.projLink:hover {
  text-decoration: none;
  color: white;
}
button.projButton{
  width:150px;
  border:1px solid white;
  margin:5px;
}
div.introM{
  position:absolute;

  margin-left:auto;
  margin-right:auto;
  background-color: rgb(3, 24, 37);
  height:650rem;
  width:100vw;
 overflow-x:hidden;
 
}
div.projectHolder{
  position: relative;
  top:1000px;
  height:800px;
  margin-left:auto;
  margin-right:auto;
  /* background-color: black; */
  color:white;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1.intro{
  color:white;
  padding:1rem;
}
div.introDiv{
  position:absolute;
  left:50%;
  top: 3%;
  background-color:transparent;
 
}
div.mainContainer{

  margin-left:auto;
  margin-right:auto;
 z-index: 3;


}
img.logos{
  width:2rem;
}
button.logos{
  background-color: transparent;
  border-color:white;
  border-radius:5rem;
}
button.logos:hover{
  cursor:pointer;
  background-image: linear-gradient(to right, #870000 0%, #190A05  51%, #870000  100%);
  border-radius:4rem;
  
  
  
}div.home{
  color:white;
}p.desc1{
  color:white;
}
img.code_Logo{
 
  height:10rem;

}
h1.intro2{
  color:white;
  border:0.05rem solid white;
  padding:1rem;
}
div.introDiv2{
  position:absolute;
  left:65rem;
  top: 1rem;
  background-color:transparent;
  
}img.down_arrow{
  width:5rem;
}
div.down_arrow{
  position:absolute;
  top:8%;
  left:50%;
}
ul.links{
  list-style: none;
  color:white;
  
}
ul>li{
  display:inline-block;
  padding:0rem;
}
div.links{
  position: relative;
  width:300px;
}img.github{
  width:3rem;
}
img.linked{
  width:5.5rem;
  height: auto;
}
div.logo1{
  position: absolute;
  left:18rem;
  top:14rem;
}
div.logo2{
  position: absolute;
  left:10rem;
  top:13rem;
}
div.logo3{
  position: absolute;
  top:14.5rem;
  left:30rem;
  
}
img.java{
  
  width:10rem;
}
img.jsCode{
  width:12rem;
}
img.html{
  width:8rem;
}

div.content{
  display: flex;
  justify-content: center;
}nav.navTop{
  position: absolute;
  margin-left:65%;
  top:50px;
  color:white;
  padding:1rem;
 
}
ul.navTop{
  padding:1rem;
}
ul.navTop>li{
  padding:1rem;
}
div.projects{
 
  position: absolute;
  width:100vw;
  top:10%;
  height:30%;
  margin-left:auto;
  margin-right:auto;
  background-color: rgb(3, 24, 37);
 
  
}
div.myColumn{


margin:20px;


}
div.about{
  top:35%;
  position: absolute;
  width:100%;
  height:50rem;
  margin-top:200px;
 


}
div.resume{
  
  top:20%;
  position: absolute;
  width:100vw;
  height:150vh;
  color:white;    
 

}

div.resumeTitle{
  position: relative;
  top: 200px;
  height: 100px;
  width:400px;
  color:black;
  margin-left:auto;
  margin-right:auto;
  margin-top:100px;

}
h1.resumeTitle{
  font-size: 80px;
  text-decoration: underline;
  color:white;
  position: relative;

}
div.resumeContainer{
  position: relative;
  top:25%;
  width:100%;
  height:100%;
  overflow: hidden;
 
 
}
div.contact{
  top:45%;
  position: absolute;
  width:94%;
  height:50rem;
  color:white;
  left:3%;
  border-radius: 10px;
  
}

div.project1{
  position: absolute;
  padding:20px;
  width:100vw;
  height: 900px;
  color:white;
  margin-bottom:100px;

  
}

div.info_p1{
  position: relative;
  background-color: transparent;
  width:400px;
  height:300px;
  left:18%;
  top:17%;
  z-index: 3;
  background-color: rgb(3, 24, 37);
  border-radius: 20px;
  padding:10px;
  box-shadow: 5px 55px 100px black;
  border: 1px solid crimson;

}

div.p1_container{
  position: relative;
  left:-5%;
  top:-20%;
  background-color:transparent;
  padding-top:5%;
  width: 105%;
  height:100%;
  border-radius: 20px;
 

}
div.img_p1_1{
  position: relative;
  left:30%;
  bottom:20%;
  padding-top:60px;
  background-color: transparent;
  width:1000px;
  height:500px;
  border-radius: 20px;
  opacity: 50%;
}
div.project2{
 
  color:white;
  position: absolute;
  padding:20px;
  top:30%;
  width:100vw;
  height: 900px;
  

}
div.info_p2{
  position: relative;
  padding:20px;
  background-color: rgb(3, 24, 37);
  width:400px;
  height:300px;
  left:18%;
  top:5%;
  z-index: 1;
  color:white;
  border:1px solid crimson;
  border-radius: 20px;
  box-shadow: 5px 55px 100px black;
  padding:10px;

}
div.p2_container{
  position: relative;
  left:-5%;
  top:-32%;
  background-color: transparent;
  width: 105%;
  height:51%;

}
div.img_p2_2{
  position: relative;
  left:30%;
  width: 50%;
  
  
}
div.project3{
  margin-top:300px;
  position: absolute;
  padding-left:200px;
  top:40%;
  width:100vw;
  height: 900px;
  color:white;

}
div.info_p3{
  position: relative;
  background-color: rgb(3, 24, 37);
  width:400px;
  height:300px;
  top:22%;
  left:9%;
  z-index: 1;
  border:1px solid crimson;
  border-radius: 20px;
  box-shadow: 5px 55px 100px black;
  padding:10px;
}
div.p3_container{
  position: relative;
  left:-15%;
  width: 110%;
  top:1%;
  background-color: transparent;
  height:50%;

}
div.img_p3_3{
  position: relative;
  left:30%;
  width:50%;
  bottom:40%;
 

}
div.project4{
  margin-top:800px;
  position: absolute;
  padding-left:200px;
  top:48%;
  width:100vw;
  height: 800px;
  color:white;

}
div.info_p4{
  position: relative;
  background-color: rgb(3, 24, 37);
  width:400px;
  height:300px;
  top:20%;
  left:15%;
  z-index: 1;
  border:1px solid crimson;
  border-radius: 20px;
  box-shadow: 5px 55px 100px black;
  padding:10px;
  
}
div.p4_container{
  position: relative;
  left:-15%;
  width: 110%;
  top:-60%;
  height:75%;

}
div.img_p4_4{
  position: relative;
  left:45%;
  top:50%;
  width: 400px;
  

}

button.navTop{
  background-color: transparent;
  color:white;
  border-top:0px;
  border-bottom:0px;
  border-right:0px;
  border-left: 0px;
  padding-right:40px;

}
button.navTop:hover{
  cursor:pointer;
}
ul.navTop>li:hover{
  cursor:pointer;
}
div.down_arrow:hover{
  cursor:pointer;
}
div.utube{
 background-color: transparent;
 height:70%;
}
ul.search>li{
  padding:10px;

}


button.projectLinks1{
  border-radius: 20px;
  background-color: transparent;
  border-bottom:2px solid red;
  border-top:transparent;
  border-left:transparent;
  border-right:transparent;
  color:white;
  padding:10px;
}
button.projectLinks2{
  border-radius: 20px;
  background-color: transparent;
  border-bottom:2px solid red;
  border-top:transparent;
  border-left:transparent;
  border-right:transparent;
  color:black;
  padding:10px;
}
button.projectLinks1:hover{
 cursor: pointer;
 background-color:white;
 color:black;

}
button.projectLinks2:hover{
  cursor: pointer;
  background-color: black;
  color:white;
 
 }
h1.projectHead{
  color:white;
  font-size:xx-large;
}
div.prohead{
  position: relative;
 background-color: black;
 height:50px;
 border-bottom: 2px solid white;
 border-top:  2px solid white;

}
div.project_title_1{
  
  position: relative;
  top:10%;
  
  width:20%;
  height:10%;
  left:10%;
  color:black;
  border-radius: 10px;
}
h1.project_title_1{
  font-size:80px;
  color:white;
  text-decoration: underline;
  
}
div.about-info{
  position: relative;
  top:15%;
}
p.about-info{
  color:white;
  font-size: 25px;
}
div.about-title{
  position: relative;
  top:0%;
  right:30%;
}
h1.about-title{
  font-size:80px;
  color:white;
  text-decoration: underline;
}
div.education{
  position:relative;
  left:27%;
  color:white;
  background: #0f0c29; 
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
  width:800px;
  height:250px;
  padding-left:20px;
  padding-right:20px;
  border-radius: 10px;
}
div.skills{
  position:relative;
  left:27%;
  top:2.5%;
  color:white;
  background: #0f0c29; 
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
  width:800px;
  height:250px;
  padding-left:20px;
  padding-right:20px;
  border-radius: 10px;
}
div.languages{
  position:relative;
  left:27%;
  top:5%;
  color:white;
  background: #0f0c29; 
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
  width:800px;
  height:250px;
  padding-left:20px;
  padding-right:20px;
  border-radius: 10px;
  
}
li{
  text-align: left;
}



img.notes-image{
  width:400px;
  height: relative;
  border-radius: 10px;
border:1px solid white;
  color:black;
  box-shadow: 14px 14px 14px 14px;
  margin-bottom:50px;

}

div.myColumn{
  padding:50px;
}
.tt-image{
  width:400px;
  height:200px;
  border-radius: 10px;
}
img.weather-image{
  width:900px;
  height: relative;
  border-radius: 10px;
  /* border:2px solid white; */
  

}
img.portfolio1{
  position: relative;
  top:50px;
  width:900px;
  border-radius: 10px;
  /* border:1px solid white; */
  opacity: 60%;

}
img.tictactoe{
  position: relative;
  width:700px;
  right:40%;
  opacity: 60%;
}

div.contact-container{
  position: relative;
  top:20%;
}
img.resume{
  border-radius: 30px;
  border:10px solid black;
  border-radius:20px;
  
 
}

div.resumeDownload{
  position: relative;
  bottom:80%;
  background-color: white;
  border-radius:5px;
  width: 220px;
  color:black;
  border: 2px solid blue;
}
a.resume{
  color:black;
  text-decoration: none;
}
a.resume:hover{
  color:#2f59a2;
}
img.download{
  position: relative;
  width:50px;
}
 
@media (max-width:700px) and (min-width:100px){

  div.introDiv{
    left:110%;
  }
  div.img_p3_3{
    top:80%;
    left:-80px;
    width:500px;
  }
  div.info_p3{
    left:-100px;
    top:250px;
  }
  
  img.notes-image{
    width:300px;
  }
  img.weather-image{
    width:400px;
  }
  img.portfolio1{
    width:500px;
  }
  img.tictactoe{
    width:500px;
  }
  div.p1_container{
    left:-80%;
  }
  div.project1{
    left:-10%;
  }
  div.p2_container{
    left:-5%;
    top:-65%;
  }
  div.project2{
    left:-10%;
  }
  div.p3_container{
    left:-30%;
    top:-60%;
  }
  div.project3{
    left:-10%;
  }
  div.p4_container{
    left:-10%;
    top:-80%;
  }
  div.project4{
    left:-35%;
  }
  img.resume{
  width:400px;
    
  }
  div.img_p2_2{
    top:50%;
    left:13%;
    
    margin-right:auto;
  }
  img.weather-image{
  
    width:500px;
  }
  div.info_p2{
    margin-left:auto;
    margin-right:30%;
    width:250px;
    height:200px;
    font-size:12px;
  }
  
}
@media (min-width:700px) and (max-width:1200px){

  div.introDiv{
     left:70%; 
  }
  img.weather-image{
    width:500px;
  }
  div.info_p2{
    width:250px;
    height:200px;
    font-size:12px;
  }
  
 
}
@media (min-width:1200px) and (max-width:1600px){

  div.introDiv{
    /* left:60%; */
  }
  
}
